
<div class="container pt-5">
    <div class="display-1" >name : {{group.name}}  </div>
    <div class="display-5 p-5">
      <button (click)="request_to_join()">request to join</button>
    </div>
    id : {{group.id}}<hr>
    url :{{group.url}}<hr>
    admin_name : {{group.admin_name}}<hr>
    
  admin_id :{{group.Admin_id}}<hr> 
 total_members :{{group.total_members}}<hr> 

  <li *ngFor="let i of group_user_set" >
   <ul>
      {{i.id}}<hr>
      {{i.first_name}}<hr>
      {{i.last_name}}<hr>
      {{i.url_for_detail_view}}<hr>
      Important important photo should be there
      <!-- <div *ngIf=" i.user_name_for_profile.profile_photo ">
      <img [src]="i.user_name_for_profile.profile_photo" width="100px" height="100px"/>
   </div> -->
      <hr>
      {{i.username}}<hr>
      {{i.created_date | date:'medium'  }}<hr>
      <br>
   </ul>
     </li> 


<!--
    {
      "id": 4,
      "url": "http://127.0.0.1:8000/group/4/",
      "admin_name": "yash",
      "user_set": [
          {
              "id": 1,
              "url_for_detail_view": "http://127.0.0.1:8000/user/1/",
              "user_name_for_profile": {
                  "profile_photo": "http://127.0.0.1:8000/media/userpic_1/home.jpeg",
                  "created_date": "2019-07-24T08:12:05.862551Z",
                  "user": 1
              },
              "username": "yash",
              "first_name": "",
              "last_name": ""
          }
      ],
      "name": "grop2",
      "Admin_id": 1,
      "total_members": 1
  } -->


</div>


<!-- {
  "id": 1,
  "url_for_detail_view": "http://127.0.0.1:8000/user/1/",
  "groups": [
      {
          "id": 4,
          "url": "http://127.0.0.1:8000/group/4/",
          "total_members": "1",
          "name": "grop2"
      },
      {
          "id": 5,
          "url": "http://127.0.0.1:8000/group/5/",
          "total_members": "1",
          "name": "group2"
      },
      {
          "id": 7,
          "url": "http://127.0.0.1:8000/group/7/",
          "total_members": "2",
          "name": "karansgroup"
      }
  ],
  "user_name_for_profile": {
      "profile_photo": "http://127.0.0.1:8000/media/userpic_1/home.jpeg"
  },
  "followers": [
      {
          "created_date": "2019-07-27T12:48:46Z",
          "follower": 7
      }
  ],
  "following": [
      {
          "created_date": "2019-07-27T12:48:31Z",
          "following": 6
      }
  ],
  "total_following": "1",
  "total_followers": "1",
  "last_login": "2019-07-27T12:18:00.164325Z",
  "username": "yash",
  "first_name": "",
  "last_name": "",
  "email": "",
  "is_active": true,
  "date_joined": "2019-06-17T06:54:42Z"
} -->
