<h3>
   All  Notifiactions
</h3>
<div>
  <ul *ngFor="let i of n ">
    {{i.id}}<br>
    {{i.notice_for_user_url}}<br>
    <div *ngIf="i.action != 'F'">
      {{i.post_name_url}}<br>
    </div>
    
    {{i.action_by_user_url}}<br>
    {{i.created_date}}<br>
    {{i.action}}<br>
    {{i.Message_to_creater_for_share}}<br>
    {{i.notice_for_user}}<br>
    {{i.post_name}}<br>
    {{i.action_by_user}}<br>
 
  <hr></ul>


</div>


<!-- {
  "id": 14,
  "notice_for_user_url": "http://127.0.0.1:8000/user/1/",
  "post_name_url": "http://127.0.0.1:8000/post/4/",
  "action_by_user_url": "http://127.0.0.1:8000/user/17/",
  "created_date": "2019-07-27T16:16:52.052899Z",
  "action": "F",
  "Message_to_creater_for_share": false,
  "notice_for_user": 1,
  "post_name": 4,
  "action_by_user": 17
} -->